
[Unit]
Description=ESS Guardian Target
Wants=network-online.target
After=network-online.target

Wants=ess-camera-setup.service ess-thermal.service ess-env-daemon.service ess-robot.service ess-thermal-gate.service
After=ess-camera-setup.service ess-thermal.service ess-env-daemon.service ess-robot.service ess-thermal-gate.service

# vision은 선택이면 여기서 빼도 됨
Wants=ess-vision.service
After=ess-vision.service

[Install]
WantedBy=multi-user.target
